[submodule "CookieEngine/vendor/spdlog"]
	path = CookieEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CookieEngine/vendor/GLFW"]
	path = CookieEngine/vendor/GLFW
	url = https://github.com/rishineedscookies/glfw
	branch = master
[submodule "CookieEngine/vendor/imgui"]
	path = CookieEngine/vendor/imgui
	url = https://github.com/rishineedscookies/imgui
[submodule "CookieEngine/vendor/MathFu"]
	path = CookieEngine/vendor/MathFu
	url = https://github.com/google/mathfu
[submodule "CookieEngine/vendor/vectorial"]
	path = CookieEngine/vendor/vectorial
	url = https://github.com/scoopr/vectorial
